# 云端API地址
# 部署到Vercel后，将your-app-name替换为你的实际应用名称
REACT_APP_API_URL=https://smart-scheduler-weld.vercel.app/

# MongoDB连接字符串（仅在Vercel环境变量中设置，不要在这里设置）
# MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/paiban_system?retryWrites=true&w=majority 

# 数据库连接
MONGODB_URI=mongodb://localhost:27017/paiban_system

# JWT密钥（用于用户认证）
JWT_SECRET=02793928978496b3ffa70469cb48da82b8b584cc7b18cc65275028bf85bf33ad2ad4a4bf86037cba864d23fda2e38f70a04d5b1fc960ea1806e6ab34cdf83c94

# 服务器端口
PORT=3001

# 邀请码（用于注册）
INVITE_CODE=zhineng2025 